## RDDs and DataFrames

* We will use the same datasets that we saw in class to practice performing operations on Data_Frames and RDD's

In [1]:
# this is creating a spark context which is an abstraction of a cluster
sc

In [13]:
from pyspark.sql.types import Row
from datetime import datetime

### 1. Create an RDD using sc.parallelize() containing a list of list. Each internal list should be made in the form [your_name, age, bootcamp_location, background studies] . For example [Pedro, 27, Lisbon, Physics]. Create 5 people in this RDD (can be your colleagues for example)

In [4]:
# this is making an RDD from a python list of lists.

In [5]:
# count the number of elements in your list

In [6]:
# return all the elements in your list (which method is the best to apply this on an RDD?)

In [ ]:
# would the method .show() work? briefly explain.

In [ ]:
# convert your RDD to a spark dataframe, works fine?

In [9]:
# now try running again the show method, works?

In [10]:
# create the same RDD as above but directly using the Row method. save it to a variable called data

In [11]:
# now run the following commands, what is the difference?
df = data.toDF()
df.show()

In [79]:
# lets now create a more complex structure. Use the same initial RDD as above (the first one I asked you to create)
# but now I want the last field to be a list of strings, where each element represents a country the person has lived i
# you can make up countries for your colleagues if you are unsure, or use this as a opportunity to talk to them :) 

# store the result in complex_data variable

In [12]:
# now run this command and voil√†!
complex_data_df = complex_data.toDF()
complex_data_df.show()

### Manipulating Spark DataFrames

In [ ]:
from pyspark.sql import SparkSession

#create a spark session called "soccer players lab" as we did in class

In [ ]:
# run the line of code below to read the players dataset
# load the players csv into a datafrane called players

In [ ]:
# sort the dataframe by height of players, in ascending order (if Peter Crouch comes first, you did it wrong :P )

In [ ]:
# now read the player attributes dataframe like we did in class. store it inside a variable called player_attributes

In [ ]:
# I used to be a goalkeeper growing up so lets analyze goalkeepers . Sort the players by goal keeper diving in descending order
# this should allows us to obtain the goalkeepers only... and Neymar

In [ ]:
# now create a new sparkdataframe which only contains players

In [ ]:
# create a score of the weighted average of the goalkeeping skills goal it gk_grade

In [ ]:
# now let's select young talents only, so I want the top 40 goalkeepers from the latest season who are no older than 26

In [ ]:
# sort them by descending gk_grade and tell me who Benfica should hire for the goal :)

In [ ]:
# who do you think was the best goalkeeper of all time? For me my hero was Fabien Barthez from Manchester United

# find him in the dataset and calculate his gk_score over the years. How did it evolve?

In [ ]:
# BONUS: want to practice acumulators? from your top goalkeepers tier them in height bins

### Exploring SparkSql - soccer data

In [14]:
# now let's practice a similar analysis but with SQL

In [ ]:
# using the initial object from the CSV file create a temporary view so we can perform SQL query on it

In [ ]:
# perform a basic select * query of all fields of your new table

In [ ]:
# perform a SQL query thart only returns that players that have "suarez" in their name.

In [ ]:
# are there any players with the same birthday as yours?

In [ ]:
# now load the players attributed table into a sql temporary table as well

In [ ]:
# tough challenge: let's build a mini product: it allows you to select two players, a feature of skill and the result
# is a table where you can see side by side, in the years that both players played how each player evolved in that feature

# shall we do a classic Messi vs Ronaldo?

name_1 = "Lionel Messi"
name_2 = "Cristiano Ronaldo"